@charset "UTF-8";

body {
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
}

.container {
	width: 60%;
	margin: auto;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

nav {
	background-color: #333333;
	padding: 8px;
}

nav ul {
	padding: 0;
	text-align: center;
}

ul li {
	display: inline;
	margin-right: 2rem;
}

li a {
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 8px 15px;
	border-radius: 20px;
	font-weight: bold;
}

li a:hover {
	background-color: #666666;
}

li a:active {
	background-color: #999999;
}

.page-title {
	margin-top: 85px;
	text-align: center;
	text-decoration: underline;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 8px;
	gap: 10px;
}

.box {
	box-shadow: 0 0 0.4rem #aaaaaa;
    border-radius: 6px;
}

.box-list {
	display: flex;
    flex-direction: column;
    padding: 4px;
    border-radius: 2px;
}

.box-list-left {
	width: 30%;
}

.research-box {
	display: flex;
	flex-direction: column;
	margin: 1rem 0.5rem;
	padding: 1rem;
}

.research-input {
	margin: 0.2rem 0;
	padding: 0.5rem;
	border-radius: 2px;
	border: 1px solid #dddddd;
}

.research-title, .results-title {
	margin: 1rem 0;
	font-weight: underline;
	text-align: center;
}

.research-input-title {
	margin-bottom: 0.7rem;
	font-weight: underline;
	text-align: center;
}

.submit {
	width: 30%;
	margin-left: 35%;
}

.input-text {
	margin-left: 1rem;
}

input[type="checkbox"]:checked + .input-text {
	font-weight: bold;
}

.box-list-right {
	width: 70%;
}

.result-box {
	display: flex;
	flex-direction: row;
	padding: 8px;
    margin-bottom: 0.85rem;
    justify-content: space-between;
    align-items: center;
}

.result-left {
	display: flex;
	flex-direction: column;
	gap: .3rem;
}

.available {
	color: green;
}

.not-available {
	color: red;
}

.owned {
	color: #3c91b9;
}

.button {
	width: 8rem;
	color: gray;
	background-color: #eeeeee;
	height: 2.5rem;
	border-width: 0px;
	border-radius: 30px;
	color: #3c91b9;
}

.button:hover {
	background-color: #3c91b9;
	color: white;
}

.button:focus {
	border: 1px solid #3c91b9;
	outline: none;
}

.button:active {
	background-color: #32789a;
}

.searchbar {
	width: 95%;
	margin: 0.3rem;
}

.searchbar:focus {
	outline: none;
}

.topo-title {
	font-weight: bold;
}

.topo-description, .site-region {
	color: #4f4f4f;
}

.site-name {
	text-decoration: none;
	color: #3c91b9;
}

.site-result {
	margin: 0;
}

.official {
	color: #d93100;
}

.slider-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.research-slider {
	width: 90%;
}

.sector {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.2rem;
	padding: 1rem;
}

.site-infos {
	padding: 0.3rem;
}

.sector h3 {
	margin: 0;
}

.infos-table {
	width: 100%;
	border-collapse: collapse;
}

.site-infos-title {
	padding: 0.5rem 0 1rem 0;
}

.infos-table tr td:first-child {
	width: 35%;
	padding: 0.12rem 0.3rem;
	font-weight: bold;
}

.collapsible {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.85rem;
}

.collapsible-content {
	padding: 0.5rem;
	display: none;
	overflow: hidden;
}

.collapsible-content.active {
    display: block;
}

.login-form {
	width: 30%;
}

.form-group {
	margin-bottom: 1rem;
}

.input-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}